
@{
    ViewBag.Title = "Home Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready($(function () {
        $("#btn").click(function () {
            $.ajax({
                url: "/Hello/Index",
                success: function (response) {
                    document.getElementById("helloTxt").innerText = response
                },
                error: function (response) {
                    alert("Error");

                }

            });
        });
    }));
</script>
<br />
<input type="button" name="btn" id="btn" value="Say Hello">
<p id="helloTxt"></p>

